#about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--grid-gap);
    max-width: var(--max-content-width);
    margin: var(--margin-zero);
    padding: var(--padding-body);
    border: 1px solid blue;
}

#about-me-main-bio {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap);
}

#about-me-img {
    flex-shrink: 0;
    width: min(100%, 333px);
}

#about-me-img img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

#about-me-description h1 {
    font-size: var(--section-h1-size);
}

#about-me-description h2 {
    font-size: var(--section-h2-size);
}

#about-me-description h3 {
    font-size: var(--section-h3-size);
    font-weight: normal;
}

#about-me-description p, #continued-bio p {
    font-size: var(--section-p-size);
}

@media (max-width: 991.98px) {
    #about-me-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--grid-gap);
        max-width: var(--max-content-width);
        margin: var(--margin-zero);
        padding: var(--padding-body-sub);
        border: 1px solid blue;
    }

    #about-me-main-bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--grid-gap);
    }
}