.hero-image-overlay {
    display: block;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--image-overlay-color);
}

.hero-image {
    display: block;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('../assets/images/banner_image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}