.navbar {
    padding-left: var(--padding-size-navbar);
    padding-right: var(--padding-size-navbar);
    padding-top: var(--padding-size-navbar);
}

.navbar--none {
    backdrop-filter: none;
}

.navbar--blur {
    backdrop-filter: blur(5px);
}

#name-brand {
    color: var(--main-text-color) !important;
    font-size: var(--navbar-brand-font-size) !important;
}

.navbar-toggler {
    margin-right: var(--margin-navbar-right);
    border-color: var(--main-text-color) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-nav {
    gap: var(--navbar-gap);
}

.navbar-nav a {
    color: var(--main-text-color) !important;
    font-size: var(--navbar-link-font-size) !important;
}


.collapse {
    display: flex;
    justify-content: flex-end;
    color: var(--main-text-color);
}


@media (max-width: 991.98px) {
    .collapse {
        display: flex;
        justify-content: flex-start;
    }
}