/* PROJECT EXPERIENCE */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--grid-gap);
    max-width: var(--max-content-width);
    margin: var(--margin-zero);
    padding: var(--padding-body);
}

#projects h1 {
    font-size: var(--section-h1-size);
}

#featured-projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: var(--grid-gap);
    justify-content: center;
}

@media (max-width: 991.98px) {
    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--grid-gap);
        max-width: var(--max-content-width);
        margin: var(--margin-zero);
        padding: var(--padding-body-sub);
    }

    #featured-projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

/* PROJECT ITEM */
.project-item {
    /* padding-bottom: var(--padding-item);
    padding-left: var(--padding-item);
    padding-right: var(--padding-item); */
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--sub-background-color) !important;
    color: var(--main-text-color) !important;
    box-shadow: var(--sub-accent-color) 0px 5px 15px;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.03);
}

.project-item-main-rect {
    padding: var(--padding-item);
}

.project-item-tab-rect {
    height: 20px;
    width: auto;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--main-accent-color);
}

.project-item-main-rect h1 {
    font-size: var(--item-h1-size) !important;
}

.project-item-main-rect h2 {
    font-size: var(--item-h2-size);
    font-weight: normal !important;
}

.project-item-main-rect p {
    font-size: var(--item-h1-p-size) !important;
}

.project-item-main-rect li {
    font-size: var(--item-list-size) !important;
}

.project-item-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--logo-gap);
}

.project-item-links img {
    height: var(--logo-size);
    width: var(--logo-size);
}

