.item-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    padding: var(--padding-skill-item);
    border-radius: var(--border-radius);
    background-color: var(--sub-accent-color);
    color: var(--main-accent-color);
    font-size: var(--item-list-size);
    font-weight: bold;
    text-align: center;
}