:root {
    /* COLOR THEME */
    --main-background-color: #001D00;
    --sub-background-color: #274006;
    --main-accent-color: #F7C9CC;
    --sub-accent-color: #27060F;
    --main-text-color: #FFFFFF;
    --image-overlay-color: rgba(0, 0, 0, 0.3);
    --card-overlay-color: rgba(39, 6, 15, 0.3);
    --card-background: rgba(0, 0, 0, 0);

    /* FONT SIZES */
    --navbar-brand-font-size: 30px;
    --navbar-link-font-size: 20px;
    --larger-h1-size: 50px;

    --section-h1-size: 40px;
    --section-h2-size: 32px;
    --section-h3-size: 24px;
    --section-p-size: 18px;

    --item-h1-size: 22px;
    --item-h2-size: 20px;
    --item-h3-size: 18px;
    --item-p-size: 20px;
    --item-list-size: 16px;

    --footer-p-size: 14px;

    /* LAYOUT CHOICES */
    --max-content-width: 1200px; 

    --margin-zero: 0 auto;
    --margin-top-small: 25px;
    --margin-navmab-right: 60px;

    --padding-zero: 0px;
    --padding-size-navbar: 20px;
    --padding-body: 80px 0;
    --padding-body-sub: 60px;
    --padding-skill-item: 7px 10px 7px 10px;
    --padding-footer: 20px 60px 20px 60px;

    --navbar-gap: 16px;
    --grid-gap-small: 5px;
    --grid-gap: 30px;
    --grid-gap-resume: 50px;
    --logo-gap: 7px;

    /* EXTRAS */
    --border-radius: 20px;
    --logo-size: 25px;
}